# Python
__pycache__/
*.py[cod]
*.pyd
*.so

# venv
.venv/

# tooling
.ruff_cache/
.mypy_cache/
.pytest_cache/

# artifacts
artifacts/
*.joblib

# notebooks
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db
